<footer class="footer py-2">
    <div class="container">
        <div class="mx-auto">
            <h2 class="m-0 fw-semibold  mb-1">Get The Notify App</h2>
            <p class="">
              We Will Send You a Link, Open it on Your Phone to download the app
            </p>
        
            <div class="d-flex align-items-center gap-3   text-nowrap">
              <input
                type="text"
                class="w-100 rounded border-primary-subtle p-2"
                placeholder="Email"
              />
              <button class=" btn btn-outline-primary px-3 py-2">Share App Link</button>
            </div>
        
            <hr />
        
            <div class="pay-details d-md-flex  justify-content-between align-items-center  my-4">
              <div class="d-md-flex align-items-center  gap-2">
                <h4 class="text-sm m-0">Payment partners</h4>
                <img src="/images/amazon-pay.png" width="50px" alt="" />
                <img src="/images/American-Express-Color.png" width="50px" alt="" />
                <img src="/images/paypal.png" width="50px" alt="" />
                <img src="/images/mastercard.webp" width="50px" alt="" />
              </div>
        
              <div class="d-md-flex align-items-center ">
                <h4 class=" m-0">Get Deliveries with Notify</h4>
                <img src="/images/get-google-play.png" width="100px" alt="" />
                <img src="/images/get-apple-store.png" width="100px" alt="" />
              </div>
            </div>
          </div>
    </div>
   
  </footer>
  

